<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>Weather</title>
</head>

<body onload="weatherfetch()">
    <div class="container">
        <div class="weather-card" id="weather-card">
            <div class="weather-text" id="weather-text">
                <b>..</b>
            </div>
            <div class="weather-img">
                <img src="#" alt="" id="weather-img">
            </div>
            <div class="weather-dis" id="weather-dis">
                ..
            </div>
            <div class="location" id="location">
                ..
            </div>
            <div class="date" id="date">
                ..
            </div>
        </div>

    </div>
    <script src="js/index.js"></script>
</body>

</html>